DB_PASSWORD=changeme
SECRET_KEY=changeme-generate-with-openssl-rand-hex-32

UNIPILE_BASE=https://api1.unipile.com:13461
UNIPILE_API_KEY=

RESEND_API_KEY=

RETELL_API_KEY=
RETELL_FROM_NUMBER=+16626425896

ANTHROPIC_API_KEY=

APIFY_API_KEY=

SERPER_API_KEY=
